<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-glass-martini-alt"></i></i><strong>Bar Hopper</strong>!</h1>
      <p>Bar Hopperにログインを行い</p>
      <p>店舗の共有と新しい店舗の出会いを行いましょう！！</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'Log in',user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
          <!--<div>Logo made by <a href="https://www.designevo.com/" title="Free Online Logo Maker">DesignEvo free logo creator</a></div>-->
      </div>
    </div>
  </div>
</div>